<div [ngClass]="{
      'bg-primary': isSelected,
      'bg-white': !isSelected
    }"
    class="border rounded-lg bg-white p-4 my-4 shadow-lg hover:shadow-xl transition-shadow duration-700 cursor-pointer"
    (click)="onSelectedItem()">
    <p-card [header]="'Id: ' + immobile.id + ' - Tipo: ' + immobile.categoria" class="bg-white">
        <ng-template pTemplate="content">
            <p class="text-gray-600 mt-2">Categoria: {{ immobile.categoria }}</p>
            <p class="text-gray-600">Prezzo: {{ immobile.prezzo | currency:'EUR' }}</p>
        </ng-template>
    </p-card>
</div>