<div class="grid grid-cols-3 gap-4">
    <div class="col-span-1">
        <app-cards-container [selectedId]="selectedImmobileId"
            (selectedImmobileFromCard)="selectedImmobileFromCards($event)"></app-cards-container>
    </div>
    <div class="col-span-2">
        <div class="grid grid-cols-2 gap-4 p-4">
            <div class="col-span-2 bg-white shadow-md rounded-lg p-4">
                <h3 class="text-lg font-semibold text-gray-900">IMMOBILE</h3>
                <p>ID: <span class="text-gray-600">{{ immobileSelezionato?.id }}</span></p>
                <p>TIPO: <span class="text-gray-600">{{ immobileSelezionato?.tipo }}</span></p>
                <p>CATEGORIA: <span class="text-gray-600">{{ immobileSelezionato?.categoria }}</span></p>
                <p>PREZZO: <span class="text-gray-600">{{ immobileSelezionato?.prezzo }}</span></p>
            </div>
            <div class="col-span-2 bg-white shadow-md rounded-lg p-4 mt-4">
                <h3 class="text-lg font-semibold text-gray-900">CARATTERISTICHE</h3>
                <ul class="list-disc pl-5 space-y-1">
                    <li>BAGNO: {{ immobileSelezionato?.caratteristiche?.bagno }}</li>
                    <li>AREA: {{ immobileSelezionato?.caratteristiche?.area }}</li>
                    <li>BALCONE: {{ (immobileSelezionato?.caratteristiche?.balcone) ? 'Si' : 'No' }}</li>
                    <li>GARAGE: {{ immobileSelezionato?.caratteristiche?.garage ? 'Si' : 'No' }}</li>
                    <li>ASCENSORE: {{ immobileSelezionato?.caratteristiche?.ascensore ? 'Si' : 'No' }}</li>
                    <li>CLASSE ENERGETICA: {{ immobileSelezionato?.caratteristiche?.classeEnergetica }}</li>
                    <li>ANNO DI COSTRUZIONE: {{ immobileSelezionato?.caratteristiche?.annoCostruzione }}</li>
                    <li>RISCALDAMENTO: {{ immobileSelezionato?.caratteristiche?.riscaldamento }}</li>
                    <li>CONDIZIONATORE: {{ immobileSelezionato?.caratteristiche?.condizionatore ? 'Si' : 'No' }}</li>
                    <li>ARREDATO: {{ immobileSelezionato?.caratteristiche?.arredato ? 'Si' : 'No' }}</li>
                    <li>RISTRUTTURATO: {{ immobileSelezionato?.caratteristiche?.ristrutturato ? 'Si' : 'No' }}</li>
                    <li>CUCINA: {{ immobileSelezionato?.caratteristiche?.cucina }}</li>
                    <li>PIANO: {{ immobileSelezionato?.caratteristiche?.piano }}</li>
                    <li>NUMERO PIANI: {{ immobileSelezionato?.caratteristiche?.numPiani }}</li>
                    <li>NUMERO LOCALI: {{ immobileSelezionato?.caratteristiche?.numLocali }}</li>
                </ul>
            </div>
            <div class="col-span-2 bg-white shadow-md rounded-lg p-4 mt-4">
                <h3 class="text-lg font-semibold text-gray-900">STATO</h3>
                <ul class="list-disc pl-5 space-y-1">
                    <li>DATA VENDITA: {{ immobileSelezionato?.stato?.dataVendita }}</li>
                    <li>DATA AFFITTO: {{ immobileSelezionato?.stato?.dataAffitto }}</li>
                    <li>AFFITTATO: {{ immobileSelezionato?.stato?.affittato ? 'Si' : 'No'}}</li>
                    <li>VENDUTO: {{ immobileSelezionato?.stato?.venduto ? 'Si' : 'No'}}</li>
                    <li>TRATTATIVA IN CORSO: {{ immobileSelezionato?.stato?.trattativaInCorso ? 'Si' : 'No'}}</li>
                    <li>SCADENZA CONTRATTO AFFITTO: {{ immobileSelezionato?.stato?.scadenzaContrattoAffitto }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>